@model IEnumerable<WMVCBCCT22023.Models.Sala>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>pagina labs</h1>

<p>
    <a asp-action="Create">Adicionar Novo Lab</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.situacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{int qtde = 0;} 
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.situacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
                @{
                    qtde = qtde + 1;
                }
            </tr>
}
    </tbody>
</table>
<h3> Total de registros impressos: @qtde</h3>
